## Week 5 Homework - batch - Pyspark

In this homework we'll put what we learned about Spark in practice.

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/04 01:29:10 WARN Utils: Your hostname, codespaces-abf587 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/03/04 01:29:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 01:29:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
pyspark.__file__

'/usr/local/python/3.10.13/lib/python3.10/site-packages/pyspark/__init__.py'

In [4]:
pyspark.__version__

'3.5.1'

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-04 01:29:12--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 20.29.134.23
Connecting to github.com (github.com)|20.29.134.23|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T012733Z&X-Amz-Expires=300&X-Amz-Signature=c7c621f51f3846375678f851d6d37e74af9d2a991efbbf077d79a0f1b6d94e78&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-04 01:29:12--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T012733Z&X-Amz-Expires=300&X-Amz-Signature=c7c621f51f3846375678f851d6d37e74af9d2a991efbbf077d79a0f1b6d94e78&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  93.9MB/s    in 0.2s

2024-03-04 01:29:13 (93.9 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [6]:
ls -lh fhv_tripdata_2019-10.csv.gz

-rw-rw-rw- 1 codespace codespace 19M Dec  2  2022 fhv_tripdata_2019-10.csv.gz

In [7]:
!gunzip -f fhv_tripdata_2019-10.csv.gz

In [8]:
ls -lh fhv_tripdata_2019-10.csv

-rw-rw-rw- 1 codespace codespace 115M Dec  2  2022 fhv_tripdata_2019-10.csv

In [9]:
!wc -l fhv_tripdata_2019-10.csv

1897494 fhv_tripdata_2019-10.csv

In [10]:
!head n=10 fhv_tripdata_2019-10.csv

head: cannot open 'n=10' for reading: No such file or directory
==> fhv_tripdata_2019-10.csv <==
dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,,B00009
B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,,B00013
B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264,264,,B00014
B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264,264,,B00014
B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264,264,,B00014
B00021         ,2019-10-01 00:00:48,2019-10-01 00:07:12,129,129,,B00021
B00021         ,2019-10-01 00:47:23,2019-10-01 00:53:25,57,57,,B00021
B00021         ,2019-10-01 00:10:06,2019-10-01 00:19:50,173,173,,B00021
B00021         ,2019-10-01 00:51:37,2019-10-01 01:06:14,226,226,,B00021

### Question 2:

- FHV October 2019
- Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons.
- Repartition the Dataframe to 6 partitions and save it to parquet.

- What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

In [11]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [12]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropOff_datetime: string (nullable = true)
 |-- PUlocationID: string (nullable = true)
 |-- DOlocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [13]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [14]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [15]:
df \
    .repartition(6) \
    .write.parquet('fhvhv/2019/10/', mode = 'overwrite')

24/03/04 01:29:27 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [16]:
!ls -lhR fhvhv/2019/10/

fhvhv/2019/10/:
total 38M
-rw-r--r-- 1 codespace codespace    0 Mar  4 01:29 _SUCCESS
-rw-r--r-- 1 codespace codespace 6.3M Mar  4 01:29 part-00000-cd3a5aea-cbbf-40e2-b049-1692609f2ee3-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.3M Mar  4 01:29 part-00001-cd3a5aea-cbbf-40e2-b049-1692609f2ee3-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.3M Mar  4 01:29 part-00002-cd3a5aea-cbbf-40e2-b049-1692609f2ee3-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.3M Mar  4 01:29 part-00003-cd3a5aea-cbbf-40e2-b049-1692609f2ee3-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.3M Mar  4 01:29 part-00004-cd3a5aea-cbbf-40e2-b049-1692609f2ee3-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.3M Mar  4 01:29 part-00005-cd3a5aea-cbbf-40e2-b049-1692609f2ee3-c000.snappy.parquet

### Question 3:
- Count records
- How many taxi trips were there on the 15th of October?
- Consider only trips that started on the 15th of October.

In [17]:
# Read parquet files
df_fhvhv = spark.read.parquet('fhvhv/2019/10/')

In [18]:
df_fhvhv.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   NULL|                  NULL|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   NULL|                B01315|
|              B01984|2019-10-12 17:13:00|2019-10-12 17:40:00|         264|          75|   NULL|                B01984|
|              B00310|2019-10-15 10:55:04|2019-10-15 11:00:45|         264|         247|   NULL|                B03047|
|              B00932|2019-10-08 06:58:42|2019-10-08 07:11:11|         264|          37|   NULL|                B00932|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   NULL|                B01029|
|              B01087|2019-10-14 18:41:24|2019-10-14 19:02:06|         261|         186|   NULL|                B01087|
|              B03080|2019-10-05 14:49:10|2019-10-05 15:02:14|         264|          25|   NULL|                B02889|
|              B03160|2019-10-10 12:50:00|2019-10-10 13:34:00|          77|          77|   NULL|                B02882|
|              B02472|2019-10-16 14:12:36|2019-10-16 14:35:00|         264|         157|   NULL|                B02472|
|              B01051|2019-10-05 22:06:46|2019-10-05 22:16:57|         264|         182|   NULL|                B01051|
|              B02111|2019-10-08 14:58:52|2019-10-08 15:40:41|          98|          79|   NULL|                B02111|
|              B00254|2019-10-03 20:33:11|2019-10-03 21:52:16|         246|         265|   NULL|                B02356|
|              B00756|2019-10-16 10:58:00|2019-10-16 11:18:00|         264|         264|   NULL|                B00756|
|              B02249|2019-10-04 19:55:49|2019-10-04 20:08:25|         264|         192|   NULL|                B02249|
|              B03202|2019-10-13 07:39:33|2019-10-13 08:18:31|         264|         132|   NULL|                B03202|
|              B00419|2019-10-11 08:33:12|2019-10-11 08:46:22|         182|         185|   NULL|                B00419|
|              B02095|2019-10-09 11:16:00|2019-10-09 11:44:00|         264|         264|   NULL|                B02095|
|              B02930|2019-10-05 22:06:15|2019-10-05 22:25:31|         264|          69|   NULL|                B02930|
|              B01239|2019-10-07 20:08:15|2019-10-07 20:16:06|         264|          51|   NULL|                B02847|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [19]:
df_fhvhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [20]:
from pyspark.sql import functions as F

In [21]:
df_fhvhv \
    .withColumn('pickup_date', F.to_date(df_fhvhv.pickup_datetime)) \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

In [22]:
# Alternate way: SQL

df_fhvhv.createOrReplaceTempView('fhvhv_2019_10')

spark.sql("""
SELECT
    COUNT(1) AS count_trips_oct_15
FROM 
    fhvhv_2019_10
WHERE
    to_date(pickup_datetime) = '2019-10-15';
""").show()

+------------------+
|count_trips_oct_15|
+------------------+
|             62610|
+------------------+

In [23]:
# Alternate way

# Num trips on October 15th
df_fhvhv.groupBy(F.to_date('pickup_datetime')).count().orderBy(F.to_date('pickup_datetime')).show()

+------------------------+-----+
|to_date(pickup_datetime)|count|
+------------------------+-----+
|              2019-10-01|59873|
|              2019-10-02|68746|
|              2019-10-03|71638|
|              2019-10-04|68227|
|              2019-10-05|52398|
|              2019-10-06|45665|
|              2019-10-07|66137|
|              2019-10-08|64049|
|              2019-10-09|60468|
|              2019-10-10|68559|
|              2019-10-11|67715|
|              2019-10-12|51434|
|              2019-10-13|45900|
|              2019-10-14|52665|
|              2019-10-15|62610|
|              2019-10-16|68156|
|              2019-10-17|67656|
|              2019-10-18|68471|
|              2019-10-19|52530|
|              2019-10-20|48304|
+------------------------+-----+
only showing top 20 rows

In [24]:
# Alternate way
# Filter the DataFrame for trips on October 15th
oct_15_trips = df_fhvhv.filter(F.col('pickup_datetime').cast('date') == '2019-10-15')

# Count the number of trips
num_trips_oct_15 = oct_15_trips.count()

print(f'num_trips_oct_15: {num_trips_oct_15}')

num_trips_oct_15: 62610

### Question 4:
- Longest trip for each day
- What is the length of the longest trip in the dataset in hours?

In [25]:
df_fhvhv.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [26]:
df_fhvhv \
    .withColumn('duration', (df_fhvhv.dropOff_datetime.cast('long') - df_fhvhv.pickup_datetime.cast('long')) / 3600) \
    .withColumn('pickup_date', F.to_date(df_fhvhv.pickup_datetime)) \
    .groupBy('pickup_date') \
    .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(10) \
    .show()

+-----------+------------------+
|pickup_date|     max(duration)|
+-----------+------------------+
| 2019-10-28|          631152.5|
| 2019-10-11|          631152.5|
| 2019-10-31| 87672.44083333333|
| 2019-10-01| 70128.02805555555|
| 2019-10-17|            8794.0|
| 2019-10-26| 8784.166666666666|
| 2019-10-30|1464.5344444444445|
| 2019-10-25|1056.8266666666666|
| 2019-10-02| 769.2313888888889|
| 2019-10-23| 745.6166666666667|
+-----------+------------------+

In [27]:
#Alternate way: SQL

spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    ROUND(MAX((CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 3600), 2) AS duration_hours
FROM 
    fhvhv_2019_10
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+--------------+
|pickup_date|duration_hours|
+-----------+--------------+
| 2019-10-28|      631152.5|
| 2019-10-11|      631152.5|
| 2019-10-31|      87672.44|
| 2019-10-01|      70128.03|
| 2019-10-17|        8794.0|
| 2019-10-26|       8784.17|
| 2019-10-30|       1464.53|
| 2019-10-25|       1056.83|
| 2019-10-02|        769.23|
| 2019-10-23|        745.62|
+-----------+--------------+

## Question 6:
- Least frequent pickup location zone
- Load the zone lookup data into a temp view in Spark
- Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?

In [28]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-04 01:29:44--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.29.134.23
Connecting to github.com (github.com)|20.29.134.23|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T012944Z&X-Amz-Expires=300&X-Amz-Signature=73e8449a1a07d78f88c52e5d552567587fcdf929ed12570258fcb74197d9030a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-04 01:29:44--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T012944Z&X-Amz-Expires=300&X-Amz-Signature=73e8449a1a07d78f88c52e5d552567587fcdf929ed12570258fcb74197d9030a&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-04 01:29:45 (29.5 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12322/12322]

In [29]:
!ls -lH taxi_zone_lookup.csv

-rw-rw-rw- 1 codespace codespace 12322 Jul 19  2022 taxi_zone_lookup.csv

In [30]:
!head n=10 taxi_zone_lookup.csv

head: cannot open 'n=10' for reading: No such file or directory
==> taxi_zone_lookup.csv <==
"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [31]:
df_zones = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv('taxi_zone_lookup.csv')

In [32]:
df_zones.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [33]:
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [34]:
df_zones \
    .repartition(1) \
    .write.parquet('zones/', mode = 'overwrite')

In [35]:
!ls -lhR zones/

zones/:
total 8.0K
-rw-r--r-- 1 codespace codespace    0 Mar  4 01:29 _SUCCESS
-rw-r--r-- 1 codespace codespace 5.8K Mar  4 01:29 part-00000-7807c0c7-c7ce-4da0-9207-e1c274844524-c000.snappy.parquet

In [36]:
# Read parquet files
df_zones = spark.read.parquet('zones/')

In [37]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [38]:
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [39]:
df_fhvhv.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [40]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [41]:
df_fhvhv.createOrReplaceTempView('fhvhv')

In [42]:
df_zones.createOrReplaceTempView('zones')

In [43]:
spark.sql("""
SELECT
    pul.Zone AS pul_zone,
    COUNT(1) AS count_pul_zone
FROM 
    fhvhv AS fhv 
    LEFT JOIN zones AS pul ON fhv.PULocationID = pul.LocationID
    LEFT JOIN zones AS dol ON fhv.DOLocationID = dol.LocationID
GROUP BY 
    1
ORDER BY
    2
LIMIT 5
;
""").show()

+--------------------+--------------+
|            pul_zone|count_pul_zone|
+--------------------+--------------+
|         Jamaica Bay|             1|
|Governor's Island...|             2|
| Green-Wood Cemetery|             5|
|       Broad Channel|             8|
|     Highbridge Park|            14|
+--------------------+--------------+